.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
}
  
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    border: 2px solid white;
  }
  
  .wheel {
    height: 4px;
    width: 4px;
    border-radius: 8px;
    border: 2px solid white;
    margin: 5px auto;
    animation: mouse-wheel 0.6s linear infinite;
  }
  
  .m_scroll_arrows {
    display: block;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    animation: mouse-scroll 1s infinite alternate;
  }
  
  @keyframes mouse-wheel {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(6px); }
  }
  
  @keyframes mouse-scroll {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }

  
  @media (max-width: 768px) {
    .mouse_scroll {
      display: block;
      margin: 0 auto;
      width: 24px;
      height: 100px;
      margin-top: 180px;
      margin-bottom: 50px;
    }
}