/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

/* Global styles */
.hamburger-checkbox {
    display: none; /* Ensure checkbox is always hidden */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    /*background: linear-gradient(to right, #243B55, #141E30);*/
    background:#050816;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden; /* Needed to contain the pseudo-element within the header */
}

.header::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    background: #FFFFFF; /* White underline */
    transition: all 0.3s ease;
}

.header:hover::after {
    left: 0;
    right: 0; /* Expands the underline across the full width on hover */
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1.4vw + 10px); /* Responsive font size calculation */
    color: #FFFFFF;
    cursor: pointer; /* Indicates the logo is clickable */
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar button {
    background: none;
    border: none;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 20px;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.8vw + 6px); /* Responsive font size */
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer; /* Indicates the buttons are clickable */
}

.navbar button:hover, .navbar button.active {
    background-color: #1565C0; /* A lighter blue for active/hover states */
    border-radius: 5px;
}

.menu-icon {
    display: none; /* Hidden by default */
    cursor: pointer;
    flex-direction: column; /* Aligns the bars vertically */
    justify-content: space-around; /* Spaces the bars evenly */
    height: 25px; /* Total height of the hamburger icon */
    width: 35px; /* Width of the hamburger icon */
    align-items: center;
}

.menu-icon .bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF; /* Color of the bars */
    border-radius: 2px;
}

/* Responsive design for Tablet screens with Hamburger menu */
@media (max-width: 768px) {
    .header::after {
        background: none;
    }
    
    .logo {
        font-size: calc(2.5vw + 12px); /* Slightly larger for visibility on small devices */
        flex-grow: 1;
        text-align: left;
    }
    
    .menu-icon {
        display: block;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #cdcdcd;
    }

    .navbar {
        position: fixed;
        width: calc(100vw - 85px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #5D6D7E;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        color: white;
        font-size: calc(2vw + 12px); /* Responsive font size */
        font-weight: bold;
    }

    .navbar button {
        background: none;
        border: none;
        color: inherit;
        font: inherit;
        cursor: pointer;
        padding: 20px;
        margin: 0 5px;
    }

    .navbar.open {
        transform: translateX(0);
    }

    .navbar button.active {
        color: tomato;
    }
}

/* Very small devices (less than 480px) */
@media (max-width: 480px) {
    .header {
        padding: 10px 20px; /* Reduce padding */
    }

    .logo {
        font-size: calc(4vw + 6px); /* Even larger font size for very small screens */
    }

    .menu-icon .bar {
        width: 90%; /* Full width of icon for better visibility */
    }

    .navbar {
        font-size: calc(3vw + 10px); /* Adjust font size for readability */
        width: calc(100vw - 65px);
    }
}
