/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(to right, #243B55, #141E30);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden; /* Needed to contain the pseudo-element within the header */
}

.header::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    background: #FFFFFF; /* White underline */
    transition: all 0.3s ease;
    display: block;
}

.header:hover::after {
    left: 0;
    right: 0; /* Expands the underline across the full width on hover */
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    cursor: pointer; /* Indicates the logo is clickable */
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar button {
    background: none;
    border: none;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 20px;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer; /* Indicates the buttons are clickable */
}

.navbar button:hover, .navbar button.active {
    background-color: #1565C0; /* A lighter blue for active/hover states */
    border-radius: 5px;
}

.menu-icon {
    display: none; /* Hidden by default */
    cursor: pointer;
    flex-direction: column; /* Aligns the bars vertically */
    justify-content: space-around; /* Spaces the bars evenly */
    height: 25px; /* Total height of the hamburger icon */
    width: 35px; /* Width of the hamburger icon */
    align-items: center;
}

.menu-icon .bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF; /* Color of the bars */
    border-radius: 2px;
}

/* Responsive design for Tablet screens */
@media (max-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 10px;
    }

    .logo {
        font-size: 16px;
        flex-grow: 1;
        text-align: left;
    }

    .menu-icon {
        display: flex;
        flex-grow: 0;
    }

    .navbar {
        display: flex; /* Ensures the navbar is always in a flex display */
        flex-direction: column; /* Stacks buttons vertically */
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        width: 100%;
        background: rgba(20, 30, 48, 0.95);
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .navbar.visible {
        transform: translateY(0);
    }

    .navbar button {
        text-align: center;
        width: 100%;
    }
}
