/* src/styles/Home.css */

.homepage {
  position: relative; /* Ensure the homepage can properly contain absolutely positioned children */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Adjust alignment if necessary */
  justify-content: center;
  background-image: url('../images/herobg.png'); /* Path to your background image */
  background-size: cover; /* Cover the entire area of the homepage */
  background-position: center; /* Center the background image */
  color: white;
  text-align: left;
  padding: 0 100px; /* Adjusted for uniformity */
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden; /* Prevents scrollbars if content overflows */
}

.Canvas {
  position: absolute; /* Make canvas a background layer */
  top: 120px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allows clicks to pass through to content layers if not interactive */
}

.content, .cardcontent {
  position: relative; /* Ensure these layers are above the canvas */
  z-index: 1; /* Higher than the canvas */
  bottom: 50px;
}

.cardcontent {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 90px;
}

.text-content {
  flex: 1;
  padding-right: 20px;
}

.homepage h1 {
  margin: 0px;
  font-size: 3.5rem;
}

.homepage p {
  font-size: 1.3rem;
}

.text-content p {
  transition: opacity 1s ease-in-out;
}

.text-content p.show {
  opacity: 1;
}

@media (max-width: 768px) {
    .homepage {
      padding-right: clamp(10px, 3%, 20px);
      padding-left: clamp(10px, 3%, 20px);
      align-items: center;
    }

    .Canvas {
      top: 350px; /* Adjust top position */
      height: 40vh; /* Smaller viewport height */
    }

    .cardcontent {
      margin: 10px;
      flex-direction: column;
      align-items: center;
    }

    .content {
      flex-direction: column;
      margin-top: 30px;
    }

    .text-content {
      padding-right: 0;
      margin: 10px 0;
    }

    .homepage h1 {
      font-size: 2.5rem;
      margin: 0px;
    }

    .homepage p {
      font-size: 1.2rem;
    }

    .typing {
      animation: none;
      border-right: 1px solid white;
    }

    .navbar {
      display: flex;
      color: black;
      background-color: white;
    }

    .navbar.visible {
      transform: translateY(0);
      display: flex;
      
    }
}