body {
    background: #ccc;
}

.skills-section {
    height: 100vh;
    padding-top: 20px;
    overflow: hidden;
}

.skills-header {
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
}

.skills-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #2ecc71;
    border-radius: 2px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Corrected 'grid-tempLate-columns' to 'grid-template-columns' */
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 2rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skills-box {
    padding: 1rem;
    margin-right: 20px;
    color: #000;
    cursor: pointer;
    flex: none;
}

.skills-box:hover > .skills-title:after, 
.skills-box:hover > .skills-title:before {
    width: 30px; 
}

.skills-box:hover .skills-img {
    transform: translateX(-20px);
}

.skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skills-icons {
    width: 50px;
    z-index: 2;
}

.skills-img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.skills-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skills-title h3 {
    color: white;
    margin-top: 0.5rem;
}

.slider {
    width: calc(200%); /* 100% for each set */
    display: flex;
}

.track {
    display: flex;
    animation: scroll 40s linear infinite;
}

.icon-set {
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin-right: 30px;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%); /* Move to the left by half the total width */
    }
  }


/*IDE like modal view styling*/
.popup {
    display: block;
    position: absolute;
    background-color: #1e1e1e; /* Dark background similar to VS Code */
    color: #dcdcdc; /* Light gray text color typical for code */
    text-align: left;
    /*padding: 10px;*/
    border-radius: 5px;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 0.85rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 300px; /* Adjust width as needed */
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    /*border: 1px solid #3c3c3c; /* Subtle border like VS Code */
    line-height: 1.6;
    margin-top: 5px;
}

.editor-window {
    position: relative;
    background-color: #000000; /* Editor frame, black background for the code area */
    padding: 20px;
    border-radius: 4px;
    padding-top: 45px; /* Increased padding-top to add space between circles and code */
    width: 260px;
    font-family: Consolas, "Courier New", monospace;
    font-size: 13.6px;
    height: 125.55px;
    line-height: 21.76px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

.window-controls {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #3c3c3c; /* Gray background for the window control bar */
    width: 90%;
    height: 25px; /* Set the height of the control bar */
    padding: 5px 10px; /* Padding around the controls for better spacing */
    border-radius: 4px 4px 0 0; /* Rounded top corners */
}

.control {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 8px; /* Increased space between circles */
    margin-bottom: -6px;
}

.control.close {
    background-color: #ff5f56;
}

.control.minimize {
    background-color: #ffbd2e;
}

.control.expand {
    background-color: #27c93f;
}

.code-block {
    margin-left: 20px; /* Indentation for the code block */
}

.editor-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.line-numbers {
    color: #858585; /* Light grey color for line numbers */
    text-align: right;
    padding-right: 10px; /* Spacing between line numbers and code */
    user-select: none; /* Prevent line numbers from being selectable */
    white-space: nowrap; /* Prevent line numbers from wrapping */
}

.code-container {
    flex-grow: 1;
    white-space: nowrap; /* Disable wrapping of code lines */
    overflow-x: auto; /* Enable horizontal scrolling for the code lines */
}

.indent-1 {
    padding-left: 20px;
}


@media screen and (max-width: 990px) {
    .skills-container {
        grid-template-columns: repeat(1, 1fr);  /* Single column layout for smaller screens */
        padding: 2rem 50px;  /* Consistent padding */
    }
    .skills-box:hover .skills-img {
        transform: none;  /* Disable hover effects for touch devices */
    }
}

@media screen and (max-width: 650px) {
    .skills-container {
        grid-template-columns: repeat(1, 1fr);  /* Ensure single column on very small screens */
        padding: 2rem 50px;  /* Maintain padding */
    }
    .popup {
        margin-top: 5px;  /* Minor adjustment for popup spacing */
    }
    .skills-box:hover .skills-img {
        transform: none;  /* Ensure no hover transformation on touch devices */
    }
}

/* Additional media query for handling touch interactions specifically */
@media (hover: none) {
    .skills-box {
        -webkit-tap-highlight-color: transparent;  /* Disable tap highlight color for WebKit browsers */
    }
    .skills-box:active, .skills-box:focus {
        outline: none;  /* Remove outlines on active/focus */
        background-color: rgba(0, 0, 0, 0);  /* Optional: adjust background color on tap */
    }
}



