/* Import Source Code Pro font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

/* Global body styles */
body {
  margin: 0;
  font-family: 'Source Code Pro', monospace; /* Using Source Code Pro as the primary font with monospace as a fallback */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styles for code elements */
code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
  /* Source Code Pro is prioritized, but other monospace fonts serve as fallbacks */
}
